#!/bin/bash
DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
HEADLESS=false
. $DIR/scada.js/tools/service-runner/tmux-launch
launch-service $(calc-session-name "$0")

# Virtual Environment support
venv="${SCADAJS_1_ENV:-"$DIR/scada.js/nodeenv"}"
run-in-tmux "tmux setenv 'VIRTUAL_ENV' $venv && exit"

# run commands in tmux session
run-in-tmux "cd scada.js" "export APP=main" "make development"
run-in-tmux "cd servers" './run-ls webserver.ls --development'
run-in-tmux "cd servers" './run-ls occ-service.ls'
