//- TODO: Compile this help from a Markdown document 

h3 Footprint
.ui.accordion(as-accordion)
    include ./footprints.pug

h3 Navigation
.ui.accordion(as-accordion)
    include ./basic.pug    

    //- Select 
    include ./select.pug

    //- Trace
    include ./trace.pug 
    
    //- Move 
    include ./move.pug 
    
        
    
