.title #[.ui.icon.label.green: icon.arrows.alternate Move]
.content
    | Move mode does what selection does + moves the selected item(s) by:
    ol.help-list
        li By drag and drop
        li Pick and place (shortcut: "a" and "a"): "a" to pick, click or "a" to place 

    | Traces are handled specially: Left and right curves' slopes are preserved

    ul.help-list
        li #[.ui.label.basic Esc] 
            ul
                li While moving: Cancel movement 
                li While idle: Activate selection tool 
        li Click outside of objects + drag: Pan 
        li #[.ui.label.basic ı] or #[.ui.label.basic r] : Rotate CW
