ul.help-list
    li.
        #[.ui.basic.label Meta] + #[.ui.basic.label mouse move]: 
        Trackball-Joystick style panning (double tap to #[.ui.basic.label Shift] to lock)
    li #[.ui.basic.label Ctrl] + #[.ui.basic.label z]: Undo
    li #[.ui.basic.label Del]: Delete selected item(s)
