//- TODO: Compile this help from a Markdown document 

h3 Footprint
.ui.accordion(as-accordion)
    include ./help/footprints.pug

h3 Navigation
.ui.accordion(as-accordion)
    include ./help/basic.pug    

    //- Select 
    include ./help/select.pug

    //- Trace
    include ./help/trace.pug 
    
    //- Move 
    include ./help/move.pug 
    
        
    
