h3 Navigation 

//- TODO: Compile this help from a Markdown document 

h5 Global
include ./help/global.pug    
.ui.accordion(as-accordion)
    //- Select 
    include ./help/select.pug

    //- Trace
    include ./help/trace.pug 
    
    //- Move 
    include ./help/move.pug 
