aktos-dcs 
logger
router(offset="50")

scene(name="NOTFOUND")
    .ui.message.red 
        .content.
            No such page can be found. 
            No one created #[b {{@shared.router.scene}}] scene yet.

.ui.fixed.inverted.menu
    a.inverted.green.item(href="#/") Home
    a.inverted.green.item(href="#/terminal-block") Terminal 
    a.inverted.green.item(href="#/sketcher") Sketcher
    a.inverted.green.item(href="#/webcad") WebCAD
    a.inverted.green.item(href="#/pcb") Pcb
    
    
scene(name="home" default public)
  .ui.container 
        .ui.grid
            .row
                .centered.column 
                    .ui.huge.message.page.grid        
                        h1.ui.header AeCAD 
            .row
                .column 
                    .ui.p Status: Pre-alpha
                    .ui.p See #[a(href="https://github.com/ceremcem/aecad") https://github.com/ceremcem/aecad]
                
scene(name="terminal-block" public)
    terminal-block  

scene(name="sketcher" public)
    sketcher
    
scene(name="webcad" public)
    webcad

scene(name="pcb" public)
    pcb
    
