aktos-dcs 
logger
router(offset="50")

scene(name="NOTFOUND")
    .ui.message.red 
        .content.
            No such page can be found. 
            No one created #[b {{@shared.router.scene}}] scene yet.

.ui.fixed.inverted.menu
    a.inverted.green.item(href="#/") Home
    //-a.inverted.green.item(href="#/terminal-block") Terminal 
    a.inverted.green.item(href="#/pcb") PCB
    //-a.inverted.green.item(href="#/webcad") WebCAD
    .item.right
        a(href="https://github.com/aktos-io/aecad/tree/{{dependencies.commit}}") {{dependencies.commit}} (+{{dependencies.count}}) {{#if dependencies.dirty}}[DIRTY]{{/if}}
    

                
scene(name="home" default public)
  .ui.container 
        .ui.grid
            .row
                .centered.column 
                    .ui.huge.message.page.grid        
                        h1.ui.header aeCAD 
            .row
                .column 
                    .ui.p Status: Pre-beta
                    .ui.p Source: #[a(href="https://github.com/aktos-io/aecad") https://github.com/aktos-io/aecad]

//-                 
    scene(name="terminal-block" public)
        terminal-block  

scene(name="pcb" public)
    pcb
    
//- 
    scene(name="webcad" public)
        webcad

    scene(name="pcb" public)
        pcb
    
