h3 Navigation 

//- TODO: Compile this help from a Markdown document 

h5 Global
ul.help-list
    li.
        #[.ui.basic.label Shift] + #[.ui.basic.label mouse move]: 
        Trackball-Joystick style panning (double tap to #[.ui.basic.label Shift] to lock)
    li #[.ui.basic.label Ctrl] + #[.ui.basic.label z]: Undo
    li #[.ui.basic.label Del]: Delete selected item(s)
    
.ui.accordion(as-accordion)
    //- Select 
    .title #[.ui.icon.label.green: icon.mouse.pointer Select]
    .content
        ul.help-list
            li 1. Clicking will select only child objects under a layer.
            li 2. If object is a group, "open the object" must be clicked
            li.
                3. Trace routes are exceptions, their segments or curves will be selected on
                click. `Ctrl + |click|` will disable this rule (thus select the group.)
            li 4. Selecting all objects in the same `Layer` is possible by:
                ul
                    li 1. `Ctrl + a` (TODO) (Currently selects everything in the project)
                    li 2. Via tree view (TODO)
            li 5. `Drag`: Creates a selection box
                ul 
                    li 1. Left to Right: select items inside the selection
                    li 2. Right to left: select items touches the box


    //- Trace
    .title #[.ui.icon.label.green: icon.bars Trace]
    .content
        ul.help-list
            li Click: Add trace segment 
            li #[.ui.label.basic e]: remove last point (#[.ui.label.basic Shift] + #[.ui.label.basic e] to undo)
            li #[.ui.label.basic Esc]: Cut the wire (end the trace) (switch to select tool if no wire is being drawn)
            li Drag: Pan pcb (while tracing or not)
            li #[.ui.label.basic v]: Place a via
            
    //- Move 
    .title #[.ui.icon.label.green: icon.arrows.alternate Move]
    .content
        | Move mode does what selection does + moves the selected item(s) by:
        ol.help-list
            li By drag and drop
            li Pick and place (shortcut: a and c): `a` to pick, click or c to place 

        | Traces are handled specially: Left and right curves' slope is preserved

        ul.help-list
            li #[.ui.label.basic Esc] 
                ul
                    li While moving: Cancel movement 
                    li While idle: Activate selection tool 
            li Click outside of objects + drag: Pan 
            li #[.ui.label.basic ı] or #[.ui.label.basic r] : Rotate CW
