h3 Help 

ul
    li #[.ui.icon.label.green: icon.bars Trace]
        ul
            li Click: Add trace segment 
            li #[.ui.label.basic e]: remove last point
            li #[.ui.label.basic Esc]: Cut the wire (end the trace) (switch to select tool if no wire is being drawn)
            li Drag: Pan pcb (while tracing or not)
            li #[.ui.label.basic v]: Place a via
            
    li #[.ui.icon.label.green: icon.arrows.alternate Move]
        ul 
            li Select + #[.ui.basic.label Del]: Delete selected items
            li #[.ui.label.basic Esc] while moving: Cancel movement 
            li Click outside of objects + drag: Pan 

    li #[.ui.icon.label.green: icon.mouse.pointer Select]
        ul 
            li #[.ui.basic.label Shift] + Drag: Pan
