h3 Help 

ul
    li Trace:
        ul
            li Click: Add trace segment 
            li #[.ui.label.basic e]: remove last point
            li #[.ui.label.basic Esc]: Cut the wire (end the trace)
            li Drag: Pan pcb (while tracing or not)
            li #[.ui.label.basic v]: Place a via
            
    li Move: 
        ul 
            li Select + #[.ui.basic.label Del]: Delete selected items
            li #[.ui.label.basic Esc] while moving: Cancel movement 
            li Click outside of objects + drag: Pan 
