h3 Help 

ul
    li Trace:
        ul
            li #[.ui.label.basic Esc]: break last segment
            li Click: add trace segment 
            li Drag: pan pcb (while tracing or not)
            
    li Move: 
        ul 
            li Select + #[.ui.basic.label Del]: Delete selected items
            li #[.ui.label.basic Esc] while moving: Cancel movement 
            li Click outside of objects + drag: Pan 
