.ui.buttons 
    btn(on-click="clearScript" tooltip="Clear Output"): icon.trash 
    checkbox(checked="{{autoCompile}}" tooltip="Auto Compile")
    btn.green.icon(on-click="compileScript" tooltip="Compile"): icon.play
        
dropdown(
    object-data="{{drawingLs}}" 
    selected-key="{{scriptName}}" 
    on-select="scriptSelected")
btn.icon.red(on-click="@.set('scriptName', null)"): icon.eraser
    
ace-editor(code="{{editorContent}}" mode="livescript" style="height: 400px; width: 100%")
pre {{output}}
