            
//- Global properties 
table
    tr 
        td Zoom 
        td: input(value="{{pcb.view.zoom}}" style="max-width: 40px; overflow-x: hidden")
    tr 
        td Trace width
        td: s-input(value="{{currTrace.width}}")            
    tr 
        td Signal T.
        td: s-input(value="{{currTrace.signal}}" readonly)
    tr 
        td Power T.
        td: s-input(value="{{currTrace.power}}" readonly)

radio-buttons(value="{{activeLayer}}" on-select="activateLayer")
    .ui.buttons.vertical
        +each('project.layers')
            radio-button(value="{{@key}}") {{@key}}

//- Property window 
.ui.segments
    h4.ui.top.attached.block.header Property Window 
    h5.ui.header.attached AeCAD    
    .ui.segment(style="padding: 2px")
        table 
            +each('aecadData as value')
                tr
                    td {{@key}}
                    td: s-input(value="{{value}}")
                   
    h5.ui.header.attached Paper.js (readonly)
    .ui.segment(style="padding: 2px")
        table                         
            +each('propKeys as type')
                tr
                    td {{@key}}
                    //-
                        td: s-input(
                            value="{{selectedProps[@key]}}" 
                            type="{{type}}"
                            readonly)
                        
