radio-buttons(value="{{currLayer}}")
    .ui.vertical.buttons
        radio-button(default value="F.Cu" true-color="red") #[.ui.circle.red.label] F.Cu
        radio-button(value="B.Cu" true-color="green") #[.ui.circle.green.label] B.Cu
            

//- Property window 
table
    tr 
        td Trace width
        td: div(contenteditable="true" value="{{currTrace.width}}" style="padding: 0 2px")

    tr
        td(colspan="2") 
            .ui.basic.label LAYERS
            btn.icon.red(
                on-click="clearActiveLayer" 
                tooltip="Clear active layer"
                )
                icon.trash

radio-buttons(value="{{activeLayer}}" on-select="activateLayer")
    .ui.buttons.vertical
        +each('project.layers')
            radio-button(value="{{@key}}") {{@key}}


h3 Property Window 
table 
    tr: th(colspan="2") AeCAD
    +each('aecadData as value')
        tr
            td {{@key}}
            td: s-input(value="{{value}}")
                
    tr: th(colspan="2") Paper
    +each('propKeys as type')
        tr
            td {{@key}}
            td: s-input(value="{{selectedProps[@key]}}" readonly)
                
