radio-buttons(value="{{phyLayer}}")
    .ui.vertical.buttons
        radio-button(default value="F.Cu" true-color="red") #[.ui.circle.red.label] F.Cu
        radio-button(value="B.Cu" true-color="green") #[.ui.circle.green.label] B.Cu
            
