ack-button(on-click="updateModel") Update Model

ace-editor(code="{{model}}")

|    <div id="graphical_view" class="graphical_view"
|         style="background-color:#8cabc2;  background-color: #8cabc2; margin: 0px; overflow: hidden; background-image:   -webkit-linear-gradient(#8cabc2, #becfdc, #c5d5e0); background-image: -moz-linear-gradient(#8cabc2, #becfdc, #c5d5e0); background-image: -o-linear-gradient(#8cabc2, #becfdc, #c5d5e0); background-image: linear-gradient(#8cabc2, #becfdc, #c5d5e0);"></div>
