 //- FIXME: propose a default filename here 
 | {{@.set('filename', 'hello'), null}} 

.ui.p Filename: #[.ui.input: input(value="{{filename}}")]

br
br
br 
.ui.p.
    Supported extensions: #[.ui.basic.label .dxf], #[.ui.basic.label .svg], 
    #[.ui.basic.label .json], #[.ui.basic.label .svgson]
