include ./gui/project-control.pug

div(style="padding: 20px")
    .ui.grid
        .row
            .two.wide.column 
                include ./gui/tree-view.pug
            .fourteen.wide.column
                .ui.stackable.grid 
                    .row 
                        .nine.wide.column 
                            include ./gui/canvas.pug
                        .seven.wide.column 
                            include ./gui/scripting.pug
