include ./gui/project-control/index.pug

div(style="padding: 20px")
    .ui.grid
        .row
            .two.wide.column 
                include ./gui/tree-view/index.pug
            .fourteen.wide.column
                .ui.stackable.grid 
                    .row 
                        .nine.wide.column 
                            include ./gui/canvas/index.pug
                        .seven.wide.column 
                            include ./gui/scripting/index.pug
