.ui.stackable.grid
    .row
        .column
            .ui.buttons 
                file-button(on-read="importSVG" type="text") Import SVG
                file-button(on-read="importDXF" type="text") Import DXF
                file-button(on-read="importDXF2" type="text") Import DXF (2)
                
            .ui.buttons.green
                btn(on-click="exportSVG") Export SVG
                btn(on-click="exportDXF") Export DXF
                //- ack-button(on-click="exportKicad") Export Kicad_Pcb
                
            btn.red(on-click="clear") Clear
    .row
        radio-buttons(on-select="changeTool")
            .ui.buttons
                radio-button Fh
                radio-button(default) Tr

    .equal.width.row
        .column
            canvas#draw
        .column 
            ace-editor(code="{{drawingLs}}" mode="livescript")
            pre {{output}}
