div(style="padding: 20px")
    .ui.grid
        .row
            .column
                include ./gui/project-control.pug
        .row
            .two.wide.column 
                | here is project tree 
            .fourteen.wide.column
                .ui.stackable.grid 
                    .row 
                        .nine.wide.column 
                            include ./gui/canvas.pug
                        .seven.wide.column 
                            include ./gui/scripting.pug
    .ui.message
        include ./gui/help.pug
